<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>{{ movie.title }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="movie.poster ? movie.poster : noImage"
    alt="image of movie"
  />
  <mat-card-content>
    <ng-container *ngIf="movie.genre">
      <span *ngFor="let genre of movie.genre; let i = index">
        #{{ genre }}</span
      >
    </ng-container>

    <ng-container *ngIf="!movie.genre.length">
      <span>{{ "shared.components.cards.noGenres" | translate }}</span>
    </ng-container>
  </mat-card-content>
</mat-card>
