<div
  class="grid-container"
  fxLayout.xs="column"
  fxLayout="row wrap"
  fxLayoutGap="10px"
  ngClass.gt-xs="ml-10"
>
  <div
    fxLayoutAlign="space-around center"
    fxFlex.sm="0 1 calc(50%-20px)"
    fxFlex.md="0 1 calc(33%-20px)"
    fxFlex.gt-md="0 1 calc(25%-20px)"
    *ngFor="let movie of moviesList"
  >
    <app-cards
      (click)="movieInfo(movie)"
      [movie]="movie"
      class="cards-container"
    ></app-cards>
  </div>
  <button
    [routerLink]="'add'"
    mat-fab
    color="primary"
    class="add-button"
    aria-label="add film button"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
