<mat-card
  fxFlex.xs="0 1 calc(90%)"
  fxFlex.sm="0 1 calc(80%)"
  fxFlex.md="0 1 calc(70%)"
  fxFlex.lg="0 1 calc(40%)"
  fxFlex.gt-md="0 1 calc(35%)"
>
  <mat-card-title>{{ movie.title }}</mat-card-title>
  <img mat-card-image [src]="movie.poster" alt="image of movie" />
  <mat-card-content>
    <div fxLayout="row">
      <div class="left-box" fxFlex="50">
        <p class="font-title">{{ "movies.form.score" | translate }}</p>
        <p>{{ movie.imdbRating }}</p>
      </div>
      <div class="right-box" fxFlex="50">
        <p class="font-title">
          {{ "movies.form.duration" | translate }}
        </p>
        <p>{{ movie.duration }}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div class="left-box" fxFlex="100">
        <p class="font-title separator">
          {{ "movies.form.actors" | translate }}
        </p>
        <p *ngFor="let actors of movie.actors; let i = index">{{ actors }}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div class="left-box" fxFlex="100">
        <p class="font-title separator">
          {{ "movies.form.companies" | translate }}
        </p>
        <p>no data</p>
      </div>
    </div>
    <div fxLayout="row">
      <div class="left-box" fxFlex="100">
        <p class="font-title separator">
          {{ "movies.form.genders" | translate }}
        </p>
        <span class="genre" *ngFor="let genre of movie.genre; let i = index"
          >#{{ genre }}</span
        >
      </div>
    </div>
  </mat-card-content></mat-card
>
<button
  [routerLink]="'/movies/edt'"
  mat-fab
  class="edit-button"
  aria-label="edit film button"
>
  <mat-icon>edit</mat-icon>
</button>
<button mat-fab class="delete-button" aria-label="delete film button">
  <mat-icon>delete</mat-icon>
</button>
